@import "reset.css";

/* @font-face {
  font-family: "Hanam";
  src: url("font\SUIT-Regular.ttf") format("truetype");
  font-weight: normal;
} */

body {
  background-color: #ffefd5;
  font-family: "Trebuchet MS", Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#clock {
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 130px;
}

#date {
  padding-top: 50px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 55px;
}

#greeting {
  font-size: 50px;
}

#reset:hover {
  /* font-size: 30px; */
  color: tomato;
}

#reset {
  cursor: pointer;
}

#location {
  margin: 30px;
  font-size: 18px;
  font-style: italic;
}

.input {
  margin: 10px;
  height: 50px;
  font-size: 50px;
  text-align: center;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 3px solid;
  background-color: #ffefd5;
}

input:focus {
  outline: none;
}

.hidden {
  display: none;
}
